<!DOCTYPE html>
<html>
  <head>
    <title>Presigned POST POC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body align="center">
    <script src="js/app.js"></script>
    <h1>Presigned POST POC</h1>
    <form>
      <label for="file_input">Upload image</label><br />
      <input type="file" id="file_input" onchange="uploadFile(this)">
    </form>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="No image uploaded yet" id="image_preview">
  </body>
</html>
